name: My First GitHub Action

on:
  push:
    branches: [main]

jobs:
  start:
    runs-on: ubuntu-latest

    steps:
      - name: Print starting
        run: echo "Starting my GitHub Action!"

  code-checkout:
    runs-on: ubuntu-latest
    needs: start

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
